.clear-button {
    background-color: var(--auxiliarColor);
    border-color: var(--auxiliarColor);
    color: #fff;
    padding: 0 5px;
}

.clear-button:hover {
    transition: transform 200ms, background 200ms;
}