.search-box {
    background-color: #fff;
    min-width: 30vw;
    border: solid 1px var(--auxiliarColor);
}

.search-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}