header {
    background-color: var(--auxiliarColor);
    border-radius: 13px 13px 0 0;
}

.header-username,
.header-repositories {
    margin-bottom: 0;
    padding-left: 10px;
    color: #ffffff;
}

.header-username {
    font-size: 16px;
    font-weight: 600;
}