header {
    background-color: var(--headerBackground);
    border-radius: 15px 15px 0 0;
}

.header-username, .header-repositories {
    margin-bottom: 0;
    padding-left: 10px;
    color: #ffffff;
}

.header-username {
    font-size: 16px;
    font-weight: 600;
}