.dropdown-toggle {
    border: 1px solid var(--mainColor);
    border-radius: 0px;
    padding: var(--buttonPadding);
    font-weight: 600;
    color: #fff;
    background-color: var(--mainColor);
}

.dropdown-toggle:hover {
    border: 1px solid grey;
    background-color: #fff;

}

.dropdown-menu {
    border-radius: 0px;
}

.dropdown-item:hover {
    background-color: var(--auxiliarColor);
    color: #fff;
}