.dropdown-toggle {
    border: 1px solid grey;
    background-color: #fff;
    padding: 10px 15px 10px 15px;
    border-color: var(--mainColor);
    border-style: solid;
    font-weight: 600;
    color: #fff;
    background-color: var(--mainColor);
    border-radius: 0px;
}
.dropdown-toggle:hover {
    border: 1px solid grey;
    background-color: transparent;

}

.dropdown-menu {
    border-radius: 0px;
}

.dropdown-item:hover {
    background-color: var(--auxiliarColor);
    color: #fff;
}