.dropdown-toggle {
    border: 1px solid grey;
    background-color: #fff;
    padding: 10px 15px 10px 15px;
    border-color: #6e24ff;
    border-style: solid;
    font-weight: 600;
    color: #fff;
    background-color: #6e24ff;
    border-radius: 0px;
}
.dropdown-toggle:hover {
    border: 1px solid grey

}

.dropdown-menu {
    border-radius: 0px;
}

.dropdown-item:hover {
    background-color: var(--headerBackground);
    color: #fff;
}