/*Import normalize library to unify the default css in all the browsers*/
@import "../node_modules/normalize.css/normalize.css";

/*Import Open Sans and Inter font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background:#b8e2f2;
  --background2: #dadada;
  --repo-names: #1e76dd;
  --text:#373a3f;
  --secondaryText: #656d76;
  /* --mainFont: 'Open Sans', sans-serif; */
  --mainFont: 'Inter', sans-serif;
  --mainBackground: #F9F9F9;
  --headerBackground: #282828;
}

p, summary {
  font-family: var(--mainFont);
  font-weight: 500;
}