/*Import normalize library to unify the default css in all the browsers*/
@import "../node_modules/normalize.css/normalize.css";

/*Import Open Sans, Inter and Fira Code fonts*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --text: #373a3f;
  --secondaryText: #656d76;
  --mainFont: 'Inter', sans-serif;
  --mainColor: #6e24ff;
  --auxiliarColor: #282828;
  --mainBackground: #F9F9F9;
  --buttonPadding: 10px 15px 10px 15px;
}

p,
summary {
  font-family: var(--mainFont);
  font-weight: 500;
}